############################################
# OS / Editor
############################################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################################
# Logs
############################################
*.log

############################################
# Node / TypeScript
############################################
node_modules/

# Build output (general)
dist/
build/

# TypeScript build output (only generated JS)
lib/**/*.js
bin/**/*.js
dist/**/*.js

# TypeScript declaration files
*.d.ts

############################################
# CDK
############################################
cdk.out/
.cdk.staging/
cdk.context.json

############################################
# Testing
############################################
coverage/
!jest.config.js

############################################
# Assets (ALWAYS COMMIT)
############################################
!assets/
!assets/**

############################################
# Website and Config
############################################
website
config